@font-face {
    font-family: Imported;
    src: url(../fonts/Fountain\ free-Regular.ttf);
}

@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.card{
    height: 650px;
    width: 350px;
    background-color: #FDFFFA;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.header{
    font-family: Imported;
    font-size: 65px;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.green{
    color:#3E7F6D;
    display: inline;
}

.black{
    color:black;
    display: inline;
}
span{
    font-family: Imported;
    font-size: 25px;
}

.inter{
    font-family: inter;
    font-weight: 800;
    font-size: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
  }

  .card1:hover .overlay {
    opacity: 0.9;
  }
  
  .card1{
    border: none;
  }